<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 id="title"><%= title %>-zone</h1>
    <p id="method"> Method: <%= method %></p>
    <p id="input"> Input: <%= input %></p>
    <p id="result"> Result: <%= result %></p>




  </body>
</html>
